Knightmap_Trap_Rocket
{

forcemodeltype=Trap_Rocket
nameid=Trap_Rocket
Parent=Medium_Ranged
origin=

loot=none
agressionrangemin=400
agressionrangemax=400
leaverangemin=600
leaverangemax=600

// Harcértékek
HP=2000
HPMax=2000
defense=40

// Méret
size=10.00;10.00;14.00
usehitboxintersect=0

// Mozgás
canmove=0
movementspeed=0.00
#fixmovementspeedmodifiermax=0.0
#walkspeed=17.00
#canfleebackward=0
#backwardspeed=23.00
#AIFleeRange=60.0
#AITimeMaxBetweenActionsSec=3.5
#pathfinderlevel=

// Charge
#cancharge=0
#cangivechargeorder=0
#runspeed=

// Forgás
canrotate=0
maxrotatepipersec=0.0
maxheadanglehorizontal=10.0
headmaxrotatepipersec=0.25
headmaxrotatepipersecmultipliernotforced=8.0
bankanglemax=0.0
#useturnanimwhilemoving=0
#fixlegsonground=0

// Cover használat
usecovers=0

// Knockdown
canfall=0
#throwdistanceforcemultiplier=2.0
#throwdistanceforcerandom=0.3
#throwspeed=40.00
#MaxFetrengesTimeSec=0

// Pain
bigpainhprate=0.3
bigpainchance=1.0
painhprate=0.15
painchance=0.2

// Pushback / melee meghátrálás
canbepushed=0
#takedamagemovementspeed=20
#pushbackchance=0.2
#pushbackanim=painbig
#pushbackdistance=10
#pushbackuncontrollabletimesec=1
#cancastmoveskillduringpushback=1 

// Nem megszakító pain
#painanimratemin=0.70
#painanimratemax=1.00
#painanimchance=0.40
#painanimslowchance=1.0
#painanimdisabledtimesec=0.5

// Kivégzés
executetype=none

// Halál és sérülés típus
injurytype=mechanical
forcehalaltype=explode
DisabledHalalTypes=gib, anim, disappear, basic_disappear
#specialdeathchance=0.00
#forcespecialdeathtype=
#sliverstoactivateatdeath=

deatheffect.filename=Monster_skills\Posszanasok\Posszanas\posszanas_medium_explosion.N2E
deatheffect.linktype=skeleton

// Rögzített fegyverek
#tooltype=AC
#class=AC
#operatortypes=AC
#interactionrange=80.0
#interactposcount=1
#interactpos[0].position=-24.59;29.2
#interactpos[0].orient=0;-1
#Obstacles
#{
#	Obstacle
#	{
#		flags=normal,shooting
#		Points=(-20;-10)(-10;-23)(13;-23)(23.0;-10.0)(23.0;15.0)(10;23)(-20;23)(-20;20)(-43;20)(-43;-10)
#	}
#}

// Scriptek és AI
scripts=
#areadefender=1
#minions
#{
#	Unbound_Raider_specialist=0
#}

// Skillek
spells=Trap_Hole_effect

// Fegyver skillek
WeaponSpell
{
	MaxAmmo=20
	MaxOverheat=20
	ReloadTime=3.5
	Spells=Knightmap_Trap_rocket_Rocket(bodyregion:upperbody)
}

// Named position
#NamedPosition
#{
#	Name=Gun
#	Position=0.00;0.00;22.00
#}

// Testrészek
Bodyparts
#{
#	head
#	{
#	}
#	left_hand
#	{
#		Spells=
#	}
#	right_hand
#	{
#		Spells=
#	}
#	leg
#	{
#	}
#}

// Hangok
Sound
{
	soundfoottype=mezitlab
	soundfootstepweight=2.0
	soundunitsize=normal
	soundunitorigin=humanoid
}

}

