
activationtype=active
casttarget.casttargets=soldier
casttarget.targetside=enemy
cooldown.values=20.0,0
globalcooldown.values=1.0,0
animbodyregionlevel=1
category=ranged
flags=
tags=medium_range,
#area_effect_large(radius=5.0)

statecount=2
state[0].id=cast
state[0].duration.values=0.25,0

state[1].id=default

areacount=1
area[0].type=circle
area[0].radius.values=5.00,0
area[0].useareaextentbonus=1
area[0].targettype=caster
area[0].id=area_effect_area

targetgroupcount=1
targetgroup[0].stateids=default
targetgroup[0].areaid=area_effect_area
targetgroup[0].targetside=enemy


actioncount=4
action[0].type=create_magic
action[0].stateids=default
action[0].targetgroupindex=0
action[0].skill=Banshee_elite_war_shout_2__curse
action[0].eothandling=old_stop


action[1].type=effect
action[1].stateids=default
action[1].timer.maxrefreshcount.values=1,0
action[1].targettype=caster
action[1].filename=Monster_skills\Eldar_Bansee_elite\Banshee_elite_war_shout_2.N2E
action[1].linkdesc0.type=position
action[1].linkdesc0.flags=rotate
action[1].flags=attach

action[2].type=fmod_sound
action[2].stateids=cast
action[2].timer.maxrefreshcount.values=1,0
action[2].timer.delay=0.0
action[2].targettype=caster
action[2].eventname=event:/spell/eldar/scream_elite

action[3].type=fmod_sound
action[3].stateids=default
action[3].timer.maxrefreshcount.values=1,0
action[3].targettype=caster
action[3].eventname=event:/spell/eldar/scream_end

