
############################
##-----Draco System----##
############################

Planet1
{
	Position=1100;340
	MissionPositions=750|600,450|450,450|250,1350|650,1040|300
	Category=void_station
	FactionName=
	FactionInfluence=0
	Population=
	Environment=low
	Filters
	{
		Owner=none
		CivTypes=void_derelict
		POITags=uninhabited

		Locations40k=spacestation,spaceship
		OtherLocations=none
		NaturalEnvironments=space
		MapSettings=imperial_indoors,nurgle_indoor,industrial_indoors,spaceship
	}
}

Planet2
{
	Position=520;200
	MissionPositions=300|250,990|410,1100|650,420|820,720|350
	Category=hive_world
	FactionName=administratum
	FactionInfluence=2
	Population=397 B
	Environment=moderate
	Filters
	{
		Owner=imperium
		CivTypes=planetary_active
		POITags=none
		MajorConflicts=none

		Locations40k=hive,city,village,industrial_site,mining_site,agri_site,research_site,armybase,penal_colony,40k_ruin,spacestation,spaceship
		OtherLocations=primitive_habitat,holy_site,archaic_ruin,ancient_ruin,battlefield,wilderness_site
		NaturalEnvironments=any
		MapSettings=imperial_indoors,rocky_island,rocky_island_civ,rocky_mining,floating_platform,nurgle_indoor,frozen_wasteland,industrial_indoors,spaceship,urban_ruins,deathworld,desert
	}
}

Planet3
{
	Position=560;480
	MissionPositions=1250|650,490|250,820|800,950|450,1150|250
	Category=exterminated_world
	FactionName=
	FactionInfluence=0
	Population=
	Environment=high
	Filters
	{
		Owner=none
		CivTypes=planetary_extinct

		Locations40k=40k_ruin,spacestation,spaceship
		OtherLocations=primitive_habitat,holy_site,archaic_ruin,ancient_ruin,battlefield,wilderness_site
		NaturalEnvironments=any
		MapSettings=imperial_indoors,nurgle_indoor,frozen_wasteland,industrial_indoors,spaceship,deathworld,desert
	}
}

Planet4
{
	Position=740;710
	MissionPositions=800|580,850|250,1200|400,1170|780,1050|480
	Category=void_station
	FactionName=
	FactionInfluence=0
	Population=
	Environment=moderate
	Filters
	{
		Owner=none
		CivTypes=void_derelict

		Locations40k=spacestation,spaceship
		OtherLocations=none
		NaturalEnvironments=space
		MapSettings=imperial_indoors,nurgle_indoor,industrial_indoors,spaceship
	}
}

Planet5
{
	Position=1190;580
	MissionPositions=850|750,590|280,1200|600,280|450,650|500
	Category=cardinal_world
	FactionName=administratum
	FactionInfluence=4
	Population=16 B
	Environment=moderate
	Filters
	{
		Owner=imperium
		CivTypes=planetary_active
		POITags=none
		MajorConflicts=none
		Locations40k=hive,city,village,industrial_site,mining_site,agri_site,research_site,armybase,40k_ruin,spacestation,spaceship
		OtherLocations=archaic_city,archaic_village,primitive_habitat,holy_site,archaic_ruin,ancient_ruin,battlefield,wilderness_site
		NaturalEnvironments=any
		MapSettings=imperial_indoors,rocky_island,rocky_island_civ,rocky_mining,floating_platform,nurgle_indoor,frozen_wasteland,industrial_indoors,spaceship,urban_ruins,deathworld,desert
	}
}
