CH2_Alpha_Pariah
{
	forcemodeltype=NPC_Paria
	Parent=Medium_Melee
	nameid=Alpha_Pariah
	origin=chaos_space_marine
	HP=4500
	HPMax=4500
	suppressionresist=3000
	suppressionresiststrength=1
	defense=60
	
	
	movementspeed=50.00
	walkspeed=19.00
	backwardspeed=24.00
	runspeed=200.00
	
	agressionrangemin=250.0
	leaverange=300.0

	maxrotatepipersec=0.8
	headmaxrotatepipersec=2
	useturnanimwhilemoving=1

	size=11.00;11.00;20.00
	fixscalemodifiermax=0.00

	executetype=medium_head

	throwdistanceforcemultiplier=2.0
	throwdistanceforcerandom=0.2
	throwspeed=30.00
	MaxFetrengesTimeSec=0

	takedamagemovementspeed=20
	pushbackdistance=10
	pushbackuncontrollabletimesec=0
	cancastmoveskillduringpushback=1
	#pushbackanim=movebackward
	pushbackchance=0.5

	bigpainhprate=0.30
	bigpainchance=1.0
	painhprate=0.15
	painchance=0.3

	painanimratemin=0.50
	painanimratemax=1.00
	painanimchance=1.00
	painanimslowchance=1.0
	painanimdisabledtimesec=0.5

	injurytype=blood
	forcehalaltype=anim
	deatheffect.filename=Monster_skills\Posszanasok\Posszanas\posszanas.N2E
	deatheffect.linktype=skeleton
	
	#spells=AlphaParia_nova;AlphaParia_beam(bodyregion:upperbody);AlphaParia_sisakbeam
	spells=AlphaParia_beam(2|bodyregion:upperbody);AlphaParia_nova(1);AlphaParia_sisakbeam(3);

	effectcount=0
	eventeffectcount=0
	
	pathfinderlevel=pro
	
	Bodyparts
	{
		head
		{
		}
		left_hand
		{
			Spells=
		}
		right_hand
		{
			Spells=
		}
		leg
		{
		}
}
	Sound
	{
		soundfootstepweight=1.0
		soundfoottype=default
		soundunitsize=medium
		soundunitorigin=human
	}
}
