Mordethal_Pargenon
{
	forcemodeltype=Black_Legion_Champion
	Parent=Boss
	nameid=Mordethal_Pargenon
	origin=chaos_space_marine
	HP=11000
	HPMax=11000
	shieldhp=4500
	suppressionresist=5000
	defense=70
	
	movementspeed=60.00
	walkspeed=18.00
	backwardspeed=24.00
	runspeed=200.00

	maxrotatepipersec=0.8
	headmaxrotatepipersec=2
	useturnanimwhilemoving=1

	size=11.00;11.00;20.00
	fixscalemodifiermax=0.03
	scale=1.2

	executetype=medium_head

	throwdistanceforcemultiplier=2.0
	throwdistanceforcerandom=0.2
	throwspeed=30.00
	MaxFetrengesTimeSec=0

	takedamagemovementspeed=20
	pushbackdistance=10
	pushbackuncontrollabletimesec=0
	cancastmoveskillduringpushback=1
	#pushbackanim=movebackward
	pushbackchance=0.5

	bigpainhprate=0.30
	bigpainchance=1.0
	painhprate=0.0001
	painchance=1.0
	timebtwinterruptpainanimsecmin=2
	timebtwinterruptpainanimsecmax=6

	painanimratemin=0.50
	painanimratemax=1.00
	painanimchance=1.00
	painanimslowchance=1.0
	painanimdisabledtimesec=0.5

	injurytype=blood
	DisabledHalalTypes=gib
	deatheffect.filename=Monster_skills\Posszanasok\Posszanas\posszanas.N2E
	deatheffect.linktype=skeleton
	
	spells=Black_legion_champion_Strike;Black_legion_champion_Single_shot(bodyregion:upperbody);Black_legion_champion_Engage(bodyregion:upperbody);Black_legion_champion_Leap_attack
	
	effectcount=0
	eventeffectcount=1
	eventeffect[0].event=jump_impact
	eventeffect[0].filename=Monster_skills\Black_Legion_Champion\Black_Legion_champion_jumppack_impact.N2E
	eventeffect[0].linktype=position
	
	pathfinderlevel=pro
	
	Bodyparts
	{
		head
		{
		}
		left_hand
		{
			Spells=
		}
		right_hand
		{
			Spells=
		}
		leg
		{
		}
}
	Sound
	{
		soundfootstepweight=5.0
		soundfoottype=default
		#soundunitsize=medium
		#soundunitorigin=space_marine
		sounduniquereaction=event:/character/enemy/blacklegion/bl_champion/
	}
}
