Spore
{

forcemodeltype=Tyranid_spore
Parent=Horde
nameid=Spore
origin=tyranid
HP=60
HPMax=80

scale=1.00

movementspeed=60.00
fixmovementspeedmodifiermax=0.1
walkspeed=9.00

maxrotatepipersec=1.0
headmaxrotatepipersec=3

size=5.00;5.00;14.00
mass=0.1
bboxscale=1.2

executetype=none
injurytype=acid

throwdistanceforcemultiplier=3.5
throwdistanceforcerandom=0.5
throwspeed=55
MaxFetrengesTimeSec=0

takedamagemovementspeed=33
pushbackdistance=15
pushbackuncontrollabletimesec=1
pushbackanim=painbig
pushbackchance=1.0

bigpainhprate=0.6
bigpainchance=1.0
painhprate=0.0001
painchance=1.0

painanimratemin=0.70
painanimratemax=1.00
painanimchance=1.00
painanimslowchance=1.0
painanimdisabledtimesec=0.5

spells=Spore__passive;Spore_explosion

Bodyparts
{
}
Sound
	{
		soundfoottype=mezitlab
		#soundunitsize=small
		#soundunitorigin=monster
		monologtype=small
		sounduniquereaction=event:/character/enemy/nurgle/mite_of_nurgle/
	}

}
