
activationtype=passive

targetgroupcount=2
targetgroup[0].targettype=event_targets
targetgroup[0].event=damage_taken
targetgroup[0].eventlistenertype=caster
targetgroup[0].eventsource=caster
targetgroup[0].eventtarget=source
targetgroup[0].cleanuptargets=1

# ebbe rakjuk majd a castert, amikor megtortenik az event
targetgroup[1].targettype=filter_destination
targetgroup[1].cleanuptargets=1

targetfiltercount=2
targetfilter[0].filter=soldier_own_minion
targetfilter[0].testtrue=1
targetfilter[0].sourcetgindices=0
targetfilter[0].destinationtgindices=0

targetfilter[1].filter=convert_targets_to_caster
targetfilter[1].sourcetgindices=0
targetfilter[1].destinationtgindices=1

actioncount=1
action[0].type=heal
action[0].targetgroupindex=1
action[0].heal.values=0.001,0
action[0].healproptype=max_hp_multiplier
